PROJECT_NAME=cab-booking-management-system
PROJECT_TEMPLATE=management
PROJECT_STACK=react-springboot
PROJECT_DATABASE=sqlite

BACKEND_PORT=18080
FRONTEND_PORT=13000

DB_HOST=localhost
DB_TYPE=sqlite
DB_PORT=0
DB_HOST_PORT=0
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=cab-booking-management-system_db
DB_SQLITE_PATH=./data/cab-booking-management-system.sqlite
DB_MONGO_URI=mongodb://db:27017/cab-booking-management-system_db

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=12h

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123
